
* {
    margin: 0;
    padding: 0;
    border: none;
}


/* heading and logo */

.container {
    width: 400px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.container img {
    width: 100%;
    height: auto;
}
