@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Slab&family=Montserrat:wght@200&family=Palanquin:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "montserrat", sans-serif;
    font-weight:400;
    color: #3a3a3a;
}

/* social media links */

.container {
    width: 100%;
    height: 30px;
    background-color: black;
    
}


/* heading and logo */

.logo {
    width: 400px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    
}

.logo img {
    width: 100%;
    height: auto;
    
}

.logo p {
   margin-left: 5px;
   margin-top: 20px;
   font-size: 15px;
}

hr { 
    border-top: 1px solid  black;
    width: 60%;
    margin: 5px 0;
    margin-left: auto;
    margin-right: auto;
}


/* nav bar */ 

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
}

#menu li {
    list-style-type: none;
    display: inline;
    margin-left: 30px;
}

#menu a {
    text-decoration: none;
    color:#3a3a3a;
    font-size: 20px;
    
}

#menu a:hover {
        border-bottom: 1px solid orange;
    }
    


/* firt page image */

.text-button {
    color: white;
    font-size: 30px;
    font-family: "palanquin" sans-serif;
    height: 50px;
    width: 300px;
    background-color: orange;
    border-style: solid;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    

}

.text-button a {
    text-decoration: none;
    color: white;
    
}

.image-container p {
    font-size: 30px;
    font-family: "abril fatface", sans-serif;
    margin-top: 600px;
    text-align: center;
    color: orange;
}

.image-container {
    width: 700px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    background: url(../images/paint.hand.png) center center;
    background-size: 700px 1000px;
    background-repeat: no-repeat;
}